/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
/* Убирает  крестик в input в Internet explorer */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
/* Убирает  лишние отступы для кнопок в Firefox */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Чистятся стили маркерованых списках */
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

/*? Адаптивный шрифт */
body {
  font-size: calc(24px + (40 - 24) * ((100vw - 320px) / (1200 - 320)));
}
/*? 24px - min размер шрифта на 320px  */
/*? (40 - 24 = 16) добавочное число, от шрифта по макету 40px отнимаем min размер шрифта 24px */

/* SCSS Миксин:
$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
} */

/*? Адаптивное (отзывчивое) CSS свойство */
@media (max-width: 1200px) {
  .block {
    padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
}
/*? 20px - min размер padding который я хочу увидеть на разрешении 320px */
/*? 50px - изначальный размер padding который на разрешении 1200px */
